<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Type Selection</title>
</head>
<body>
    <h1>Welcome! Please select your user type:</h1>
    <form id="userTypeForm">
        <input type="radio" id="applicant" name="user_type" value="applicant">
        <label for="applicant">Applicant</label><br>
        <input type="radio" id="organization" name="user_type" value="organization">
        <label for="organization">Organization</label><br><br>
        <button type="submit">Submit</button>
    </form>

    <script>
        document.getElementById('userTypeForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const userType = document.querySelector('input[name="user_type"]:checked').value;
            if (userType === 'applicant') {
                window.location.href = "{% url 'register-page' %}";
            } else if (userType === 'organization') {
                window.location.href = "{% url 'organization_page' %}";
            }
        });
    </script>
</body>
</html>
